altgraph==0.17.2
certifi==2022.12.7
charset-normalizer==2.1.0
future==0.18.3
idna==3.3
importlib-metadata==4.12.0
Markdown==3.4.1
nbt2yaml==0.4.2
Nuitka==0.9.6
pefile==2022.5.30
pyqtdarktheme==1.1.0
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
python-editor==1.0.4
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.28.1
shiboken6==6.3.1
urllib3==1.26.10
zipp==3.8.1
